@import "~bootstrap/scss/bootstrap.scss";

/* 
    body{
        background: #BDBDBD;
    }
    
    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
  background: green;
  box-sizing: border-box;
}
.card {
  display: inline-block;
  margin: auto;
  height: 450px;
  font-size: 80px;
  width: 300px;
  padding: 20px;
  padding-top: 180px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  &:before {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 80px;
  }
  &:after {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 80px;
  }

  &.spade:before,
  &.spade:after {
    content: "\2660";
  }
  &.club:before,
  &.club:after {
    content: "\2663";
  }
  &.heart:before,
  &.heart:after {
    content: "\2665";
    color: red;
  }
  &.diam:before,
  &.diam:after {
    content: "\2666";
    color: red;
  }
}
